{#
/**
 * @file
 * Theme implementation to Tooltip text field formatter.
 *
 * This displayed tooltip on text.
 *
 * Available variables:
 * - text: Text which user entered in the text field.
 * - class: This is wrapper div class which we will use in JS to trigger qTip2.
 *
 */
#}

<div class="{{ class }}">
  {{ text }}
</div>